
* {
    padding: 0; margin: 0;
}

body {
background-color: #fcdede;
}

/* Navbar offset */
.header, .about, .projects, .footer {
margin-left: 100px;
}

/* Navbar style */
.navbutton {
  height: 100%;
  width: 100px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #234899;
  position: fixed; 
  overflow: auto;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbutton li:hover {
  background-color: #7FBDFE;
  width: 100%;
}

/* Dropdown Style */
li.dropdown {
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 0;
}

.dropdown-content a {
  color: #5b5b5b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Accent Style1 Color Id and Hex */
a #pink {color: #ff82A2;}
a #yellow {color: #ffe500;}
a #cyan {color: #22f9eb;}
a #lime {color: #a1ff09;}
a #purple {color: #b108ff;}

/* Header Style */
.hero {
background-image: url('banner.png');
background-position: center;
background-size: cover;
border-bottom-style: solid;
margin-bottom: 20px;
overflow: hidden;
}

.header h1 {
  color: white;
  text-align: center;
  padding: 25px;
}

.header img{
float: right;
width:40%;
height:auto;
padding: 25px;
clip-path: circle(40%);
}

.header p{
  color: white;
  text-align: center;
  padding: 20px;
  margin: 20px;
  background: #7FBDFE;
  border: 7px double #f0afbe;
  border-radius: 5px;
}
