/* === Base Resets === */
* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body {
    background-image: url('blossom_background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* === Theme Colors === */
/* Style 1 - Colorful - only applied to dropdown */
.dropdown-pink-accent {color: #ff82A2;}
.dropdown-yellow-accent {color: #ffe500;}
.dropdown-cyan-accent {color: #22f9eb;}
.dropdown-lime-accent {color: #a1ff09;}
.dropdown-purple-accent {color: #b108ff;}
/* Style 2 - Hanami  - applied to all */
.navy-accent, .dropdown-navy-accent {color: #234899;}
.sky-accent, .dropdown-sky-accent {color: #94CEEA;}
.salmon-accent, .dropdown-salmon-accent {color: #f0afbe;}
.magenta-accent, .dropdown-magenta-accent {color: #eb6a82;}

/* === Navbar Offsets === */
.header, .about, .projects, .footer {
margin-left: 100px;
}

/* === Navbar List === */
.navbar {
  position: fixed;
  width: 100px;
  height: 100%;
  background-color: #234899;
  overflow: auto;
}

.navbutton {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbutton li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}


.navbutton li:hover{
  background-color: #7FBDFE;
}

/* === Dropdown === */
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

/* === Dropdown Links === */
.navbutton li.dropdown .dropdown-content a {
  color: #5b5b5b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* === Header Style === */
.hero {
background-color:rgba(255, 255, 255, 0.6);
border-bottom-style: solid;
margin-bottom: 70px;
overflow: hidden;
border-color: #234899;
border-width: 7px;
}

.header h1 {
  color: #ffffff;
  text-align: center;
  padding: 50px;
  width:90%;
}

.header img{
float: right;
width:40%;
max-width:300px;
height:auto;
padding: 25px;
clip-path: circle(40%);
}

.header p{
  color: #234899;
  background-color: white;
  text-align: center;
  padding: 10px;
  margin: auto;
  width: 80%;
  border: 7px double #f0afbe;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* === About Section === */
.about {
  color: #234899;
  text-align: center;
  background-color: white;
  border-color:#f0afbe;
  border-top-style: double;
  border-bottom-style: double;
  border-width: 7px;
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 70px;
  margin-bottom: 20px;
  padding: 20px;
}

.about ul{
list-style-type: none;
}

.about h2 {
color: #f0afbe;
text-align: center;
font-size: 2.6em;
margin: 10px;
}

.about h3{
text-align: center;
font-size: 1.6em;
margin: 10px;
}

/* === Projects Section === */
.projects{
  color: #234899;
  text-align: center;
  background-color: white;
  border-color:#f0afbe;
  border-top-style: double;
  border-bottom-style: double;
  border-width: 7px;
  margin-left: 100px;
  margin-right: 0px;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px;
}

.projects h2 {
color: #f0afbe;
text-align: center;
font-size: 2.6em;
margin: 10px;
}

.projects h3{
text-align: center;
font-size: 1.6em;
margin: 10px;
}

.projects li{
text-align: left;
margin-left: 20px;
margin-bottom: 5px;
}

.projects p{
margin-bottom: 20px;
}

.projects a{
color: #94CEEA;
}

.projects a:hover{
color: #eb6a82;
}

/* === Footer Section === */
.footer {
color: #234899;
background: #ffffff;
text-align: center;
border-top-style:double;
border-width: 7px;
border-color: #f0afbe;
margin-top: 40px;
float: left;
}

.footer h2 {
color: #f0afbe;
margin: 10px;
font-size: 2.6em;
}

.footer h3 {
margin: 0px;
font-size: 1.3em;
}

.footer p {
margin: 20px;
padding: 20px
text-align: left;
text-indent: 1.5em;
}

.footer li {
  display: inline-block;
  color: #ffffff;
  background: #eb6a82;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
  clip-path: circle(40%);
}

.footer li a {
color: #ffffff;
}

.footer li:hover{
background: #f0afbe;
}
