* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 60px;
  background-image: url('rain_background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Navbar style */
.navbutton {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #5b5b5b;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navbutton li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Link Colors*/
.dropdown:hover .dropbtn {background-color: #ff82A2;}

.homebtn:hover{background-color: #ffe500;}

.aboutbtn:hover{background-color: #22f9eb;}

.projectsbtn:hover{background-color: #a1ff09;}

.contactbtn:hover{background-color: #b108ff;}

/* Style Dropdown */
li.dropdown {
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #5b5b5b;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Header style */
.header {
color: #5b5b5b;
background: #ffffff;
text-align: center;
border: 5px double #ffe500;
border-radius: 5px;
margin: 20px;
padding: 20px;
float: left;
}

.header img{
float:right;
width:40%;
height:auto;
padding: 25px;
clip-path: circle(40%);
}

.header h{
width:60%
}

.header h1{

}

.header p, .about p, .projects p{
text-align: left;
text-indent: 1.5em;
}

/* About Section */
.about{
color: #5b5b5b;
background: #ffffff;
border: 5px double #22f9eb;
border-radius: 5px;
margin: 20px;
padding: 20px;
float: left;
}

.about h2 {
text-align: center;
font-size: 2.6em;
margin: 10px;
}

.about h3{
text-align: center;
font-size: 1.6em;
margin: 10px;
}

/* Projects Section */
.projects{
color: #5b5b5b;
background: #ffffff;
border: 5px double #a1ff09;
border-radius: 5px;
margin: 20px;
padding: 20px;
float: left;
}

.projects h2 {
text-align: center;
font-size: 2.6em;
margin: 10px;
}

.projects h3{
text-align: center;
font-size: 1.6em;
margin: 10px;
}

/* Footer style */
.footer {
color: #5b5b5b;
background: #ffffff;
text-align: center;
border-top-style:double;
border-width: 5px;
border-color: #b108ff;
margin-top: 20px;
float: left;
}

/* Responsive Design Elements */
@media screen and (max-width:600px) {
  .header img {
  padding: 20px;
  }
}
